body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li a,
li a:hover,
li a:visited,
li a:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #555555;
}

#coupon {
    display:none;
}

#store .offer-row img {
    width: 100%;
}

#store .offer {
    position: relative;
    border: 2px solid darkkhaki;
    padding: 10px;
    margin: 10px;
}

#store .offer .discount {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 64px;
    color: orange
}

#store button {
    height: 50px;
    width: 100%;
}

#store .offer-title {
    text-align: center;
}